node_modules
dist

# data - we will keep the data, as it will be used for the development of the app

.DS_Store
*.log
.env
.env.local
.VSCodeCounter

docs/chrome-profiling/*.json
docs/profiling/*.json
coverage/html

opencode.json